// Use the base partial to set up global variables and load Sass modules

// Font weights


// Base Font


// Headings

@import "styles/modules/all";

body {
	padding: 10px 10px 200px;
	font-family: $open-sans;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}