// Use the base partial to set up global variables and load Sass modules

// Font weights


// Base Font


// Headings

@import "styles/modules/all";

body {
	padding: 10px 10px 200px;
	font-family: $open-sans;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $roboto-slab;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.dev-background {
	background-color: $astronaut;
}

footer {
	margin-top: 30px;
	color: $chambray;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}