.gallery {
	padding: 0;
	margin: 0;

	&__item {
		margin-top: 25px;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		-webkit-border-radius: 5px; 
  	-moz-border-radius: 5px; 
  	border-radius: 5px; 
  	background-size: contain;

  		&:hover &__overlay {
  			opacity: 1;
  		}

  		&__overlay {
  			position: absolute;
  			width: 100%;
  			height: 100%;
  			-webkit-border-radius: 5px; 
  			-moz-border-radius: 5px; 
  			border-radius: 5px;
  			background: rgba(182, 167, 84, 0.8);
  			opacity: 0;
  		}

  		&__text {
  			text-align: center;
  			position: relative;
  			top: 40%;
  			color: $astronaut;
  			font-size: 1.8em;
  			font-weight: bold;

        @media only screen and (max-width : 480px) {
          font-size: 1.2em;
          top: 40%;
      }

  		}
	}
}