.navigation {
	background-color: transparent;
	border: 0;

	&__button {
		border: 0;
	}

	.navbar-toggle {

		background-color: transparent;

		&:hover {
			background-color: transparent;
		}

		.icon-bar {
		color: $husk;
		background-color: $husk;
		}
	}

	.navbar-collapse {
		border-top: 0;
		box-shadow: none;
	}

	.navbar-brand {
		color: $cornflower-blue;
		font-size: 2.7em;
		font-family: $roboto-slab;
		font-weight: bold;

		&:hover {
			color: $cornflower-blue;
		}
	}

	.navbar-nav li a {
		color: $husk;
		font-size: 1.1em;
		font-family: $open-sans;

		&:hover {
			color: $silver-tree;
		}
	}

	.navbar-nav .active a {
		color: $silver-tree;
		background-color: transparent;

		&:hover {
			color: $silver-tree;
			background-color: transparent;
		}
	}
}

