<div class="container">

	<div id="nav">
	  <nav navbar-yoga></nav>
	</div>

	<header class="intro--yoga">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 intro__row--yoga intro--yoga__text">
				<p>I'm so pleased you want to get in touch! I love to meet new people and look forward to talking with you. Feel free to get in touch via social media. Let's start a conversation!</p>
			</div>
		</div>
	</header>

	<main class="content--yoga--about">
		
		<div class="row">
			<div class="col-md-10 col-md-offset-1 content--yoga--about__header">
			Social
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1 content--yoga--about__text">
	        	<a href="https://www.facebook.com/yogawithnathan" target="_blank">
	           		<img class="social__img" src="../assets/images/social/fb.png" />
	          	</a>
	          	<a href="https://twitter.com/njosefbeck" target="_blank">
	          		<img class="social__img" src="../assets/images/social/twitter.png" />
	          	</a>
	          	<a href="http://instagram.com/njosefbeck/" target="_blank">
	          		<img class="social__img" src="../assets/images/social/instagram.png" />
	          	</a>	         
	          	<a href="http://www.linkedin.com/in/becknathan" target="_blank">
	          		<img class="social__img" src="../assets/images/social/linkedin.png" />
	          	</a>
	           <a href="https://github.com/njosefbeck" target="_blank">
	           	<img class="social__img" src="../assets/images/social/github.png" />
	           </a>
	        </div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1 content--yoga--about__header">
			E-mail me
			</div>
		</div>
		
		<!--
		<div class="row">
			<div class="col-md-10 col-md-offset-1 content--yoga--about__text">
	            <div ng-controller="ContactController">
	                <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
	                    <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
	                        <label for="inputName" class="col-lg-2 control-label">Name</label>
	                        <div class="col-lg-10">
	                            <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
	                        </div>
	                    </div>
	                    <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
	                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
	                        <div class="col-lg-10">
	                            <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
	                        </div>
	                    </div>
	                    <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
	                        <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
	                        <div class="col-lg-10">
	                            <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
	                        </div>
	                    </div>
	                    <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
	                        <label for="inputMessage" class="col-lg-2 control-label">Message</label>
	                        <div class="col-lg-10">
	                            <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="col-lg-offset-2 col-lg-10">
	                            <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
	                                Send Message
	                            </button>
	                        </div>
	                    </div>
	                </form>
	                <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
	            </div>
	        </div>
		</div>
		-->
	</main>

	<footer class="footer--yoga">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2015 Nathan Beck</p>
			</div>
		</div>
	</footer>
</div>