// GOOGLE FONTS 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);

// FONT VARIABLES
$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// For all color names, used: http://chir.ag/projects/name-that-color

// GLOBAL COLORS

// WELCOME COLORS
$mine-shaft: #383838; // dark gray
$mercury: #E8E8E8; // light gray
$torch-red: #FF0049;
$malibu: #46D0FC; // neon blue
$spring-green: #00FF4E;


// DEV COLORS
$astronaut: #293E6A; // a darker blue
$chambray: #3B5998;	 // a lighter, more gray-blue
$cornflower-blue: #639BF1;
$silver-tree: #77BA9B; //mint-silver
$husk: #B6A754;

// YOGA COLORS
$golden-fizz: #EBFF33; // use this as the welcome yellow also
$mint-green: #A0FB71;
$aquamarine: #58F8AB;
$bright-turquoise: #12F6E9;
$lochinvar: #2F8F75; // darker gray-green

// SPANISH COLORS
$neptune: #78C3AE; // lighter gray-green
$atlantis: #AED136; // lime-green
$tacha: #D2C950; // lighter mustard yellow
$sage: #9CA98C;
$cardinal: #D32127; 
$parchment: #F2EDD7; // background